@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	15;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	width: 88.626%;
	padding-left: 1.1869%;
	padding-right: 1.1869%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#folionav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#portfolio1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#portfolio2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#portfolio3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#portfolio4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#biopic {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#biotext {
	width: 100%;
	float: left;
}
#email {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#contactinfo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 91.4836%;
	padding-left: 0.7581%;
	padding-right: 0.7581%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#folionav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#portfolio1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 49.1712%;
	display: block;
}
#portfolio2 {
	clear: none;
	float: right;
	margin-left: 1.6574%;
	width: 49.1712%;
	display: block;
}
#portfolio3 {
	float: left;
	clear: left;
	margin-left: 0;
	width: 49.1712%;
	display: block;
}
#portfolio4 {
	float: right;
	clear: right;
	margin-left: 1.6574%;
	width: 49.1712%;
	display: block;
}
#biopic {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#biotext {
	width: 100%;
	float: left;
}
#email {
	clear: both;
	float: left;
	margin-left: 0;
	width: 49.1712%;
	display: block;
}
#contactinfo {
	clear: none;
	float: left;
	margin-left: 1.6574%;
	width: 49.1712%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 89.0217%;
	max-width: 1232px;
	padding-left: 0.4891%;
	padding-right: 0.4891%;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#folionav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#portfolio1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 32.6007%;
	display: block;
}
#portfolio2 {
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 32.6007%;
	display: block;
}
#portfolio3 {
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 32.6007%;
	display: block;
}
#portfolio4 {
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 32.6007%;
	display: block;
}
#biopic {
	float: left; 
	width: 39%; 
	margin-top: 0;
}
#biotext {
	float: right; 
	width: 59%;
}
#email {
	clear: both;
	float: left;
	margin-left: 0;
	width: 66.2%;
	display: block;
}
#contactinfo {
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 32%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}